<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-container" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label> Email </mat-label>
          <input
            type="text"
            matInput
            autofocus
            [formControl]="loginForm.controls.email"
            required
            minLength="2"
          />
          <mat-icon matPrefix>edit</mat-icon>
          <mat-error *ngIf="loginForm.controls.email.invalid">
            {{ getEmailErrorMsg() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Password </mat-label>
          <input
            type="password"
            matInput
            [formControl]="loginForm.controls.password"
            required
            minLength="2"
          />
          <mat-icon matPrefix>edit</mat-icon>
          <mat-error *ngIf="loginForm.controls.password.invalid">
            {{ getPasswordErrorMsg() }}
          </mat-error>
        </mat-form-field>
        <button
          class="submit-button"
          mat-raised-button
          color="primary"
          [disabled]="
            loginForm.controls.email.invalid ||
            loginForm.controls.password.invalid
          "
          (click)="login()"
        >
          Login
        </button>
      </form>

      <mat-error *ngIf="isAuthenticataionFailed$ | async">
        이메일과 패스워드가 일치하지 않습니다.
      </mat-error>
    </mat-card-content>
  </mat-card>
</div>
