<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="login-container">
        <mat-form-field appearance="outline">
          <mat-label> Email </mat-label>
          <input
            type="text"
            matInput
            [formControl]="email"
            required
            minLength="2"
          />
          <mat-icon matPrefix>edit</mat-icon>
          <mat-error *ngIf="email.invalid">
            {{ getEmailErrorMsg() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Password </mat-label>
          <input
            type="password"
            matInput
            [formControl]="password"
            required
            minLength="2"
          />
          <mat-icon matPrefix>edit</mat-icon>
          <mat-error *ngIf="password.invalid">
            {{ getPasswordErrorMsg() }}
          </mat-error>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="email.invalid || password.invalid"
        (click)="login()"
      >
        Login
      </button>
      <mat-error *ngIf="isAuthenticataionFailed">
        이메일과 패스워드가 일치하지 않습니다.
      </mat-error>
    </mat-card-content>
  </mat-card>
</div>
