.mat-card {
  width: 50rem;
  margin-bottom: 2rem;
}
.mat-card-header {
  border-bottom: 1px dashed black;
}
.mat-card-content {
  padding: 1rem 0;
}
.add-new-button {
  margin-bottom: 1rem;
}
.mat-form-field {
  margin-right: 0.5rem;
}

.submit-button {
  margin-right: 0.5rem;
}
